:root{
    font-family: 'Roboto'!important;
}

header.masthead .profile-pic img-fluid{
    border-radius: 50% !important;
}

.my-skills.card.skill-badge img{
height: 20px !important;
width:20px !important;
background-color: white;

}