/* Global style definition of the webpage */
:root{
    font-family: 'Roboto'!important;
    --light:#dee7e8;
    --pop:#ec5743;
    --yellow:#fc9a1f;
    --white:white;
    --text:#1c1c1e; 
    
}

/* Customising the navigation */

.navbar, .nav-link {
   background-color: var(--pop);
 --bs-navbar-active-color: var(--white) !important;
 --bs-nav-link-color:var(--white) !important;
}

.nav-link:hover{
    background-color:#f3a69c; 
   }
.navbar ,.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .nav-item {
    margin: 0px 10px;
  }
/* Text style definition of the webpage */

h1 , h2 , h3 , h4 {
    margin-top: 36px;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: var(--bs-heading-color);
}

/* Style definition of each sections in the body, note this is seperate from hero section */

body{
    background-color: var(--light);
    color: var(--text);
}

.card ,#contact-me, #about-me p{
    margin-top: 36px;
    margin-bottom: 1.5rem;  
}

#my-skills, #contact-me, #about-me{
    border: solid 1px var(--yellow);
}


/* Style definition for images in my skills section */

.skill-badge {
    width: 50px;
    
    position:relative; 
    align-items: center;
} 


 .fa-brands:hover{
    background-color: yellow !important;
}

